# Build directory
build/

# Temporary and backup files
*~
.*.swp
# MSVC files
*.ncb
*.suo
=======
.*.swo
*.backup

# Chrome private key for building extension
*.pem

# CMake
CMakeFiles
CMakeCache.txt
cmake_install.cmake
cmake_uninstall.cmake
