/* CSS file for index.html */ 
body{
   font-size:62.5%;
}

#tabs{
   width: 680px; 
   height: 560px; 
   overflow: hidden;
}

#tabs form{
   margin: 2px 2px 5px 5px;
}

.ui-tabs .ui-tabs-nav li{
   margin: 0px;
}

#url{
   
}

.tabState{
   margin-top: 4px;
   margin-left: 4px;
   float: left;
   display: block;
   width: 16px;
   height: 16px;
   background-image: url('../images/working.gif');
   display: none;
}

.tabClose{
   margin-top: 4px;
   margin-right: 4px;
   float: left;
   display: block;
   width: 16px;
   height: 16px;
   background-image: url('../images/stop.png');
   display: none;
}

.consoleTextarea{
   width: 640px; 
   height: 480px;
   margin-bottom: 5px;
   color: #444;
}

#conetserv {
   width: 0px;
   height: 0px;
   margin: 0px;
   padding: 0px
}

.hidden {
   display: none;
   visibility: hidden;
}

.aboutTab {
   position: absolute !important;
   right: 0px;
}

#aboutTab {
 /* TODO */
}

#pingConsole{
   height: 220px;
}

#ping6Console{
   height: 220px;
}

#tracerouteConsole{
   height: 210px;
}

#traceroute6Console{
   height: 210px;
}

.placeholder{
   margin-top: 10px;
}

#pingPlaceholder{
   height:220px;
   width: 640px;
}

#ping6Placeholder{
   height:220px;
   width: 640px;
}

#traceroutePlaceholder{
   height:250px;
   width: 640px;
}

#traceroute6Placeholder{
   height:250px;
   width: 640px;
}

.statsArea{
   height: 30px;
   margin-top: 5px;
   display: none;
}

.statsArea input{
   border: 1px solid gray;
}

.pingStatField{
   float: left;
   margin-right: 40px;
   width: 170px;
}

.pingStatField span{
   font-weight: bold;
   display: block;
   float: left;
   width: 40px;
   margin: 0 2px 0 0;
   padding: 0;
}

.pingStatField input{
   width: 120px;
   margin: 0px;
   padding: 0px;
}

#aboutTab{
   background: url("../images/icon128.png") no-repeat 550px 372px;
   height: 480px;
}

#aboutTab h2{
   font-size: 30px;
   margin-top: 5px;
   margin-bottom: 5px;
}

#aboutTab h3{
   margin: 0px;
   font-size: 12px;
   margin-bottom: 0px;
}

#aboutTab ul{ 
   padding-left: 20px;
}

#aboutTab li{
   color: #2779AA;
   margin: none;
}

#aboutTab table{
   width: 600px;
}

#aboutTab table td{
   vertical-align: top;
}

#aboutTab p{
   color: #2779AA; 
}

#aboutTab .slogan{
   font-size: 16px;
}

/* plot labels styling */
.valueLabels {
	font-size:80%;
	color:black;
}
div.valueLabelLight {
	opacity:0.5;
	background-color: white;
	border:none;
	position:absolute;
}
div.valueLabel {
	position:absolute;
	border:none;
}

div.lostPacketsLabelLight {
   position:absolute;
   left: 530px; 
   top: 20px; 
   color:#E33; 
   font-size:smaller;
   opacity:0.5;
	background-color: white;
	padding: 3px;
	border: 1px solid #E33; 
}

div.lostPacketsLabel{
   position:absolute;
   left: 530px; 
   top: 20px; 
   color:#E33;
   font-size:smaller;
   padding: 3px;
   border: 1px solid #E33;   
}

#zoomin{
   position: absolute;
   left: 550px;
   top: 20px;
}

#zoomout{
   position: absolute;
   left: 580px;
   top: 20px;
}