/* 
    Document   : cupertino
    Created on : 9.6.2010, 13:40:14
    Author     : kanei
    Description:
        Stylesheet for cupetino Jquery Ui theme implemented in CoNetServ
*/

/* content styling */
.color1{
   color: #2779aa;
}

.color2{
   color: blue;
}

.color3{
   color: green;
}


.ui-icon-close:hover {
   background-image: url(images/ui-icons_red_256x240.png);
   background-position: -32px -192px;
}