/* 
    Document   : cupertino
    Created on : 9.6.2010, 13:40:14
    Author     : kanei
    Description:
        Stylesheet for cupetino Jquery Ui theme implemented in CoNetServ
*/

/* content styling */
.color1{
   color: #2779aa;
}

.color2{
   color: blue;
}

.color3{
   color: green;
}