/* CSS file for index.html */ 
body{
   font-size:62.5%;
}
#tabs{
   width: 680px; 
   height: 560px; 
   overflow: hidden;
}

.consoleTextarea{
   width: 640px; 
   height: 480px;
   margin-bottom: 5px;
}

#pingConsole{
   height: 350px;
   
}

#placeholder{
   width:640px;height:120px;
}