/* 
    Document   : south-street
    Created on : 9.6.2010, 13:41:30
    Author     : kanei
    Description:
        Stylesheet for South street Jquery Ui theme implemented in CoNetServ
*/

.color1{
   color: #479f03;
}

.color2{
   color: green;
}

.color3{
   color: green;
}

.ui-icon-close:hover {
   background-image: url(images/ui-icons_red_256x240.png);
   background-position: -32px -192px;
}

.ui-state-hover .ui-icon-stop {
   background-image: url(images/ui-icons_red_256x240.png);
}