/* 
    Document   : south-street
    Created on : 9.6.2010, 13:41:30
    Author     : kanei
    Description:
        Stylesheet for South street Jquery Ui theme implemented in CoNetServ
*/

.color1{
   color: #479f03;
}

.color2{
   color: green;
}

.color3{
   color: green;
}