/*
    Document   : south-street
    Created on : 9.6.2010, 13:41:30
    Author     : kanei
    Description:
        Stylesheet for Sunny Jquery Ui theme implemented in CoNetServ
*/

.color1{
   color: orange;
}

.color2{
   color: #cda827;
}

.color3{
   color: green;
}