/*
    Document   : ui
    Created on : 29.5.2010
    Author     : kanei
    Description:
    Purpose of the stylesheet follows.
*/

body {
   font-size: 62.5%;
}

#tabs {
   width: 680px;
   height: 560px;
   overflow: hidden;
}

#about-tab-header {
   float: right;
}

#settings-tab-header {
   float: right;
}

.content {
  display: none;
  height: 300px;
}

.url-input {
   padding: 0.4em 1em;
   margin: 0px -1px 10px 0px;
   line-height: 1.4;
}

.url-start {
   margin-bottom: 10px;
   margin-left: -2px;
}

.radio-tab-label.ui-button-text-icon .ui-button-text{
   padding: 0.4em 2em 0.4em 1em;
}

.ui-icon-circle-close {
   position: absolute;
   right: 3px;
}

.console {
  width: 640px;
  height: 420px;
  margin-bottom: 5px;
  padding: 3px 5px;
  color: #444;
  overflow: auto;
  background: #f8f9fa;
}

.ping .console {
  height: 200px;
}

.ping6 .console {
  height: 200px;
}

.tracert .console {
  height: 200px;
}

.tracert6 .console {
  height: 200px;
}

.plot-placeholder {
  margin-top: 10px;
  height:220px;
  width: 640px;
}

#map-conteiner {
   height: 450px;
   width: 640px;
   padding: 5px;
}

#map-placeholder {
   height: 450px;
   width: 640px;
}
/* Lost packet banner on ping plot */
div.lostPacketsLabelLight {
   position:absolute;
   left: 530px;
   top: 20px;
   color: #E33;
   font-size: smaller;
   opacity: 0.5;
	background-color: white;
	padding: 3px;
	border: 1px solid #E33;
}

div.lostPacketsLabel{
   position: absolute;
   left: 530px;
   top: 20px;
   color: #E33;
   font-size: smaller;
   padding: 3px;
   border: 1px solid #E33;
}

.zoomin{
   position: absolute;
   left: 580px;
   top: 20px;
}

.zoomout{
   position: absolute;
   left: 600px;
   top: 20px;
}

/* plot labels styling */
.valueLabels {
	font-size:80%;
	color:black;
}
div.valueLabelLight {
	opacity:0.5;
	background-color: white;
	border:none;
	position:absolute;
}
div.valueLabel {
	position:absolute;
	border:none;
}

/**************************************************************************
 * console.js
 **************************************************************************/

/* First icon on service radio button*/
.service-state {
   display: none;
}

.colorbar {
   display: inline;
   margin: 0 5px;
   border: 1px solid white;
   height: 1em;
   width: 1em;
}

.colorbar span {
   visibility: hidden;
}

/* plugin loader */
#plugin-placeholder {
   width: 0px;
   height: 0px;
}

#plugin-placeholder object {
   width: 0px;
   height: 0px;
}

/**************************************************************************
 * settings tab
 **************************************************************************/
#settings-general-frontpage {
   height: 150px;
   width: 200px;
   float: left;
   margin: 0 10px 10px 0;
   padding: 10px;
}

#settings-general-frontpage-children {
   height: 150px;
   width: 200px;
   margin: 0 10px 10px 0;
   padding: 10px;
   float: left;
}

#settings-general-toolbox-div {
   clear: left;
}

#settings-general-submit {
   margin-top: 10px;
   display: block;
   clear: left;
}
#settings-general-div input.single-line{
   clear: left;
}

#settings-general-div h4{
   clear:left;
}

#settings-general-skin{
   height: 70px;
   width: 200px;
   margin: 0 10px 10px 0;
   padding: 10px;
   clear: left;
}

/**************************************************************************
 * external-info tab
 **************************************************************************/
#external-provider-div div {
   height: 130px;
   width: 290px;
   margin: 0 10px 10px 0;
   padding: 5px;
   float: left;
}

#external-provider-div h4 {
   margin: 0px;
}

#external-provider-div ul {
   list-style-type: none;
   padding: 0px;
}

#external-provider-div ul li {
   margin-left: 5px;
}

/**************************************************************************
 * about tab
 **************************************************************************/

#aboutTab {
   height: 480px;
   font-size: 12px;
}

#aboutTab .column {
   width: 320px;
   float: left;
}

#aboutTab .block {
   margin: 0 10px 10px 0;
   padding: 5px;
}

#aboutTab h2 {
   font-size: 24px;
   margin-top: 5px;
   margin-bottom: 5px;
}

#aboutTab h3 {
   margin: 0px;
   font-size: 12px;
   margin-bottom: 0px;
}

#aboutTab ul {
   list-style-type: none;
   padding-left: 10px;
   padding-left: 20px;
}

#aboutTab li {
   margin: 0;
}

#aboutTab p {
   margin-left: 10px;
}

#aboutTab .slogan {
   font-weight: bold;
   font-size: 16px;
}

#about-logo {
   background: url("../images/icon128.png") no-repeat;
   height: 128px;
   width: 128px;
   position: absolute;
   right: 20px;
   bottom: 20px;
   z-index: auto;
}
