/* 
    Document   : ui
    Created on : 29.5.2010, 18:11:27
    Author     : kanei
    Description:
        Purpose of the stylesheet follows.
*/

body {
   font-size:62.5%;
}

#tabs {
   width: 680px;
   height: 560px;
   overflow: hidden;
}

#about-tab-header {
   position: absolute !important;
   margin-top: 5px !important;
   margin-right: 5px;
   right: 0px;
}

.content {
  display: none;
  height: 300px;
}

.url-input {
   padding: 0.4em 1em;
   margin: 0px -1px 10px 0px;
   line-height: 1.4;
}

.url-start {
   margin-bottom: 10px;
   margin-left: -2px;
}

.console {
  width: 640px;
  height: 450px;
  margin-bottom: 5px;
  padding: 3px 5px;
  color: #444;
  overflow: auto;
  background: #f8f9fa;
}

.ping .console {
  height: 200px;
}

.ping6 .console {
  height: 200px;
}

.tracert .console {
  height: 220px;
}

.tracert6 .console {
  height: 220px;
}

.plot-placeholder {
  margin-top: 10px;
  height:220px;
  width: 640px;
  background: white;
}

#map-conteiner {
   height: 400px;
   width: 640px;
   padding: 5px;
}

#map-placeholder {
   height: 390px;
   width: 630px;
}
/* Lost packet banner on ping plot */
div.lostPacketsLabelLight {
   position:absolute;
   left: 530px;
   top: 20px;
   color: #E33;
   font-size: smaller;
   opacity: 0.5;
	background-color: white;
	padding: 3px;
	border: 1px solid #E33;
}

div.lostPacketsLabel{
   position: absolute;
   left: 530px;
   top: 20px;
   color: #E33;
   font-size: smaller;
   padding: 3px;
   border: 1px solid #E33;
}

/* plot labels styling */
.valueLabels {
	font-size:80%;
	color:black;
}
div.valueLabelLight {
	opacity:0.5;
	background-color: white;
	border:none;
	position:absolute;
}
div.valueLabel {
	position:absolute;
	border:none;
}

/**************************************************************************
 * console.js
 **************************************************************************/

/* First icon on service radio button*/
.service-state {
   display: none;
}

.colorbar {
   display: inline;
   margin: 0 5px;
   border: 1px solid white;
   height: 1em;
   width: 1em;
}

.colorbar span {
   visibility: hidden;
}

/* content styling */
.color1{
   color: #2779aa;
}

.color2{
   color: blue;
}

.color3{
   color: green;
}

/* plugin loader */
#plugin-placeholder {
   width: 0px;
   height: 0px;
}

#plugin-placeholder object {
   width: 0px;
   height: 0px;
}